:root {
  /* Define a variable for the margin of the overlay, 96px at 1080p */
  --margin: 5vmax;
}

.namn {
  opacity: 0;
  transition: opacity .5s;
  position: absolute;
  bottom: calc(2 * var(--margin));
  /* Set a max-width to prevent going over the right margin at 100% - 2 * margin, 1728px at 1080p */
  max-width: calc(100vw - 2 * var(--margin));
}

.namn_vanster {
  left: var(--margin);
}

.namn_hoger {
  right: var(--margin);
  text-align: right;
}

.line {
  /* Define padding relative to the font size */
  padding: 0.2em 0.5em;
  /* Prevent text wrapping and hide overflow */
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.line:empty {
  /* Hide empty line, both first or second */
  display: none;
}

.namn #f0 {
  font-family: 'Yle Black';
  font-size: 1rem;
  color: var(--dark-color);
  background-color: var(--white-color);
}

.namn #f0:before {
  content: '';
  background-color: var(--main-color);
  width: 2em;
  display: inline-block;
  top: 0;
  bottom: 0;
  position: absolute;
}

.namn #f1 {
  font-family: 'Yle Medium';
  font-size: 0.8rem;
  color: var(--white-color);
  background-color: var(--dark-color);
}

.namn_vanster #f0 {
  padding-left: 2.5em;
}

.namn_vanster #f0:before {
  left: 0;
}

.namn_vanster #f1 {
  padding-left: calc(2.5em / 0.8);
}

.namn_hoger #f0 {
  padding-right: 2.5em;
}

.namn_hoger #f0:before {
  right: 0;
}

.namn_hoger #f1 {
  padding-right: calc(2.5em / 0.8);
}