html, body {
	width:1920px;  											/* Set to your channel's resolution */
	height:1080px;											/* Set to your channel's resolution */
	margin:0;												/* Use all available space */
	padding:0;												/* Use all available space */
	background:transparent;									/* The HTML consumer actually makes your background transparent by default, unless a color or image is specified - but this might be usefull when debugging in browsers */
	overflow:hidden;										/* Hide any overflowing elements - to disable scollbars */
	-webkit-font-smoothing:antialiased !important;	 		/* Set aliasing of fonts - possible options: none, antialiased,  subpixel-antialiased */
}

@font-face {
  font-family: 'Yle-Black';
  src: url("../fonts/Yle-Black.ttf");
}

@font-face {
  font-family: 'Yle-Medium';
  src: url("../fonts/YleCondensed-Medium-Saami-uusi.otf");
}

@font-face {
  font-family: 'Yle-Regular';
  src: url("../fonts/Yle-Regular.ttf");
}

.main {
  position: absolute;
  top: 840px;
  left: 70px;
  width: 1544px;
  opacity: 0;
}

.f1_bg {
  background: #c42942;
  display: table;
  height: 50px;
  position: relative;
}
.f1_text {
  color: #fff;
  font-family: 'Yle-Black';
  font-size: 34px;
  margin-top: 1px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: -20px;
  max-width: 1544px;

}

.f2_bg {
  background: #fff;
  display: table;
  height: 84px;
  position: relative;
}
.f2_text {
  color: #000;
  font-family: 'Yle-Black';
  font-size: 62px;
  margin-top: 0px;
  padding-left: 15px;
  margin-right: -15px;
  margin-bottom: -20px;
  width: 1544px;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: -2px;
}

.f3_bg {
  z-index: 2;
  background: #252525;
  float: left;
  height: 57px;
  position: relative;
}
.f3_text {
  color: #fff;
  font-family: 'Yle-Regular';
  font-size: 38px;
  margin-left: 15px;
  margin-right: 15px;
}


.ticker_bg {
  z-index: -1;
  background: rgba(37, 37, 37, 0.8);
  width: 1544px;
}
.ticker {
  z-index: 1;
  width: 97%;
  height: 54px;
  padding-left: 25px;
  padding-right: -60px;
}

.webTicker {

  color: #fff;
  float: left;
  position: relative;
}

.webTicker li {
  font-size: 42px;
  font-family: 'Yle-Medium';
}
